os:
  - linux
  - osx

rvm:
  - 1.9.3
  - jruby
  - rbx-3
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3.3
  - 2.4.0
  - ruby-head
sudo: false
cache: bundler
env:
  - CHILDPROCESS_POSIX_SPAWN=true CHILDPROCESS_UNSET=should-be-unset
  - CHILDPROCESS_POSIX_SPAWN=false CHILDPROCESS_UNSET=should-be-unset
matrix:
  allow_failures:
    - rvm: rbx-3
    - rvm: ruby-head
      env: "CHILDPROCESS_POSIX_SPAWN=true"
